@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply min-h-screen;
}

body {
  @apply grid grid-cols-3 grid-rows-3 min-h-screen;

  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

body > header {
  grid-area: header;
}
body > main {
  grid-area: main;
}
body > side {
  @apply hidden;
  grid-area: sidebar;
}
body > footer {
  grid-area: footer;
}

p {
	@apply mb-2;
}

@screen md {
  body {
    @apply grid-cols-4;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main"
    "sidebar footer footer footer";
  }
  
  body > side {
    @apply block;
    grid-area: sidebar;
  }
}